/** 
CSS DESKTOP 
**/


/*** GENERAL ***/
@font-face {
  font-family: "GothamRounded-Book";
  src: url("../../both/assets/font/GothamRounded-Book.otf");
 }
 @font-face {
  font-family: "GothamRounded-Light";
  src: url("../../both/assets/font/GothamRounded-Light.otf");
 }

* {
  font-family: "GothamRounded-Light", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: "GothamRounded-Book", Helvetica, Arial, sans-serif;
  font-size: 32px;
}

button {
  font-family: "GothamRounded-Book", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background: none;
  border: none;
  background-image: url(/both/assets/img/button.svg);
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 55px;
  background-repeat: no-repeat;
  cursor: pointer;
}



/**************************  
**************************  TIMELINE
**************************/
.Timeline {
  position: absolute;
  bottom: 30px;
  display: flex;
  align-items: center;
  max-width: 1600px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}





/**************************  
**************************  SECTION 1
**************************/

.logo_center {
  position: absolute;
  left: 0;
  top: 25%;
  right: 0;
  height: 40%;
  display: flex;
  justify-content: center;
}

.logo_center img {
  width: 310px;
}

.home_text_center {
  max-width: 750px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 40%;
  right: 0;
  text-align: center;
  margin: auto;
  line-height: 25px;
}

.text_center {
  max-width: 750px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  line-height: 25px;
}

.text_center p {
  margin: 35px 0;
}


/**************************  
**************************  SECTION 2
**************************/

.logo_top_left {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 90px;
  opacity: 0;
  transition: all 2s ease;
}


/**************************  
**************************  QUESTION 3
**************************/

#line {
  position: absolute;
  width: 100%;
}

.svg_line {
  height: 300px;
  width: 100%;
  transition: 1s ease-out;
}

path {
  stroke: white;
  stroke-width: 5px;
  stroke-linecap: round;
  fill: none;
}