/** 
CSS DESKTOP & MOBILE
**/


/*** GENERAL ***/
@font-face {
  font-family: "GothamRounded-Book";
  src: url("../../both/assets/font/GothamRounded-Book.otf");
}

@font-face {
  font-family: "GothamRounded-Light";
  src: url("../../both/assets/font/GothamRounded-Light.otf");
}

* {
  font-family: "GothamRounded-Light", Helvetica, Arial, sans-serif;
}

body{
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.home_text_center {
  max-width: 750px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 42vh;
  right: 0;
  font-size: 17px;
  text-align: center;
  margin: auto;
  line-height: 25px;
}

/*** STYLE BUTTONS ***/

.btn {
  font-size: 16px;
  background: none;
  border: none;
  width: 250px;
  height: 62px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
}

.svgContour {
  position: absolute;
  width: 250px;
  height: 62px;
  left: 0;
  right: 0;
  margin: auto;
}

input:focus, button:focus{
  outline: none;
}


/*** ANIMATION PAGE ***/
section{
    transition: 0.8s all ease;
  }
  
  .out{
    opacity: 0;
  }
  
  .in{
    opacity: 1;
  }

/*** LOGO ANIMATION VIDEO ***/
#logoAnim.opacityAdd{
    opacity: 1;
}

#logoAnim{
    opacity: 0;
    transition: all 2s;
}

#video{
  display: none;
}

.logo_center {
  position: absolute;
  left: 0;
  top: 25%;
  right: 0;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_center img {
  width: 310px;
}

  /**************************  
  **************************  PAGE 3 BUTTON_VALIDER
  **************************/

  .fondu_valider {
    height: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }

  #bulles{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .bulle{
    position: relative;
    width: 100px;
    height: 100px;
    flex: 0 0 100px;
    background-image: url("../../both/assets/img/q2/bulle2.png");
    background-position: center center;
    background-size: 100% auto;
    margin: 20px 40px;
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  .bulle.none{
    opacity: 0 !important;
  }

  /**************************  
  **************************  QUESTION 4
  **************************/

  
#ball {
  z-index: 20;
  top:0;
  -webkit-transition: all;
  transition: all;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 2px 2px 25px 2px rgba(0, 0, 0, 0.2);
}