/** 
CSS DESKTOP 
**/


/*** GENERAL ***/
@font-face {
    font-family: "GothamRounded-Book";
    src: url("../../both/assets/font/GothamRounded-Book.otf");
   }
   @font-face {
    font-family: "GothamRounded-Light";
    src: url("../../both/assets/font/GothamRounded-Light.otf");
   }
  
  * {
    font-family: "GothamRounded-Light", Helvetica, Arial, sans-serif;
  }
  
  h1 {
    font-family: "GothamRounded-Book", Helvetica, Arial, sans-serif;
    font-size: 32px;
  }
  
  .btn {
    font-family: "GothamRounded-Book", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: none;
    border: none;
    background-image: url(/both/assets/img/input.svg);
    background-position: center;
    background-size: cover;
    width: 300px;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 240px;
    height: 40px;
    padding: 0 25px;
  }
  
  /**************************  
  **************************  SECTION CONNEXION
  **************************/
  
  .logo_center_mobile {
    display: flex;
    justify-content: center;
  }
  
  .logo_center_mobile img {
    width: 310px;
  }
  
  .text_center_mobile {
    max-width: 750px;
    height: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    line-height: 25px;
  }
  
  .text_center_mobile p {
    margin: 35px 0;
  }


  /**************************  
  **************************  BUTTON_VALIDER
  **************************/

  .fondu_valider {
    height: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }


  /**************************  
  **************************  QUESTION 3
  **************************/

  .controls {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  #amplitude {
    transform: rotate(90deg);
  }

  /* #curseur_frequence {
    width: 200px;
    border-top: 2px solid white;
    border-top-style: dashed;
    position: absolute;
    left: 100px;
    top: 90px;
  }

  #curseur_frequence::after{
    content: "";
    height: 35px;
    width: 35px;
    top: -20px;
    left: 0;
    margin-left: -35px;
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    background-color: white;
  }

  #curseur_frequence::before{
    content: "";
    height: 35px;
    width: 35px;
    top: -20px;
    right: 0;
    margin-right: -35px;
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    background-color: white;
  }

  #curseur_frequence img {
    position: absolute;
    top: -32px;
    left: -45px;
    width: 80px;
    z-index: 5;
  }

  #curseur_amplitude {
    height: 200px;
    border-right: 2px solid white;
    border-right-style: dashed;
    position: absolute;
    right: 100px;
  }

  #curseur_amplitude::after{
    content: "";
    height: 35px;
    width: 35px;
    top: -35px;
    left: 0;
    margin-left: -18px;
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    background-color: white;
  }

  #curseur_amplitude::before{
    content: "";
    height: 35px;
    width: 35px;
    bottom: -37px;
    right: 17px;
    margin-right: -35px;
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    background-color: white;
  }

  #curseur_amplitude img {
    position: absolute;
    left: -30px;
    bottom: -50px;
    width: 80px;
    z-index: 5;
  } */