/** 
CSS DESKTOP 
**/


/*** GENERAL ***/
@font-face {
    font-family: "GothamRounded-Book";
    src: url("../../both/assets/font/GothamRounded-Book.otf");
   }
   @font-face {
    font-family: "GothamRounded-Light";
    src: url("../../both/assets/font/GothamRounded-Light.otf");
   }
  
  * {
    font-family: "GothamRounded-Light", Helvetica, Arial, sans-serif;
  }
  
  h1 {
    font-family: "GothamRounded-Light", Helvetica, Arial, sans-serif;
    font-size: 32px;
  }
  
  .btn {
    font-family: "GothamRounded-Light", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: none;
    border: none;
    background-image: url(/both/assets/img/input.svg);
    background-position: center;
    background-size: cover;
    width: 300px;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 240px;
    height: 40px;
    padding: 0 25px;
  }
  
  /**************************  
  **************************  SECTION CONNEXION
  **************************/
  
  .logo_center_mobile {
    display: flex;
    justify-content: center;
  }
  
  .logo_center_mobile img {
    width: 310px;
  }
  
  .text_center_mobile {
    max-width: 750px;
    height: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    line-height: 30px;
  }

  .question_mobile {
    font-size: 21px;
    margin: 0 35px;
}
  
  .text_center_mobile p {
    margin: 35px 0;
  }


  /**************************  
  **************************  BUTTON_VALIDER
  **************************/

  .fondu_valider {
    height: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }

    /*** Q2 ***********/

    #q2_target {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }


  /**************************  
  **************************  QUESTION 3
  **************************/

  .controls {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }


  #amplitude {
    transform: rotate(90deg);
    z-index: 4;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
  }

  #length {
    z-index: 5;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
  }
  
 #length::-webkit-slider-thumb,
 #amplitude::-webkit-slider-thumb  {
    -webkit-appearance: none;
  }
  
 #length:focus,
 #amplitude:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
 #length::-ms-track,
 #amplitude::-ms-track  {
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }



 #length::-webkit-slider-thumb,
 #amplitude::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -14px;
  }
 #length::-moz-range-thumb,
 #amplitude::-moz-range-thumb {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -14px;
  }
 #length::-ms-thumb,
 #amplitude::-ms-thumb {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -14px;
  }



  #length::-webkit-slider-runnable-track,
  #amplitude::-webkit-slider-runnable-track  {
    height: 0.5px;
    cursor: pointer;
    border: 1px dashed white;
  }
  #length::-moz-range-track,
  #amplitude::-moz-range-track {
    height: 0.5px;
    cursor: pointer;
    border: 1px dashed white;
  }
  #length::-ms-track,
  #amplitude::-ms-track {
    height: 1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }