/** 
CSS MOBILE
**/


/*** GENERAL ***/

* {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

body {
  overflow: hidden;
}


h1 {
    font-size: 30px;
}

h2 {
  font-size: 22px;
  line-height: 30px;
}

/**************************  
  **************************  BUTTON VALIDATION QUESTION
  **************************/

.circle1 {
  width: 200px;
  height: 200px;
  border-radius: 46%;
  border: 1px solid grey;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  margin: auto;
  z-index: 10;
  display: none;
}

.rotating {
    -webkit-animation: rotating 3.5s linear infinite;
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.circle2 {
  width: 200px;
  height: 200px;
  background: none;
  border: 0;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  padding: 0;
  display: none;
}
.circle2::before, .circle2::after {
  box-sizing: inherit;
  content: '';
  width: 200px;
  height: 200px;
  background: none;
  border: 0;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  padding: 0;
}
.spin:hover {
  color: blue;
}
.spin::before {
  border: 3px solid transparent;
}
.test1::before {
  border-top-color: blue;
  border-right-color: blue;
  border-bottom-color: blue;
  transition: border-top-color 0.2s linear, border-right-color 0.2s linear 0.9s, border-bottom-color 0.2s linear 1.9s;
}
.spin::after {
  border: 0 solid transparent;
}
.test2::after {
  border-top: 3px solid blue;
  border-left-width: 3px;
  border-right-width: 3px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  transition: border-left-width 0s linear, -webkit-transform 3s linear;
  transition: transform 3s linear, border-left-width 0s linear;
  transition: transform 3s linear, border-left-width 0s linear, -webkit-transform 3s linear;
}

.gifValidation {
  position: absolute;
  z-index: 10;
  background: blue;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  margin: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  opacity: 0;
  transition: 2s;
  display: none;
}


/**************************  
  **************************  BOTTOM MENU MOBILE (nav_mobile.js)
  **************************/

  .firstMenu {
    position: fixed;
    bottom: 50px;
    right: 0;
    left: 0;
    display: none;
    animation: animFirstmenu 2s backwards;
  }

  @keyframes animFirstmenu {
    0% {
      opacity : 0;
    }
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .bgButton {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #494949;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -31px;
  }

  .menu-toggler {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
  .menu-toggler:hover + label, .menu-toggler:hover + label:before, .menu-toggler:hover + label:after {
    background: #494949;
  }
  .menu-toggler:checked + label {
    background: transparent;
  }
  .menu-toggler:checked + label:before, .menu-toggler:checked + label:after {
    top: 0;
    width: 30px;
    transform-origin: 50% 50%;
  }
  .menu-toggler:checked + label:before {
    transform: rotate(45deg);
  }
  .menu-toggler:checked + label:after {
    transform: rotate(-45deg);
  }
  .menu-toggler:checked ~ ul .menu-item {
    opacity: 1;
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(1) {
    transform: rotate(0deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(2) {
    transform: rotate(60deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(3) {
    transform: rotate(120deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item:nth-child(4) {
    transform: rotate(180deg) translateX(-110px);
  }
  .menu-toggler:checked ~ ul .menu-item a {
    pointer-events: auto;
  }
  .menu-toggler + label {
    width: 30px;
    height: 3px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: #494949;
    transition: transform 0.5s, top 0.5s;
    position: absolute;
    display: block;
    top: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  .menu-toggler + label:before, .menu-toggler + label:after {
    width: 30px;
    height: 3px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: #494949;
    transition: transform 0.5s, top 0.5s;
    content: "";
    position: absolute;
    left: 0;
  }
  .menu-toggler + label:before {
    top: 10px;
  }
  .menu-toggler + label:after {
    top: -10px;
  }
  .menu-item:nth-child(1) a {
    transform: rotate(0deg);
  }
  .menu-item:nth-child(2) a {
    transform: rotate(-60deg);
  }
  .menu-item:nth-child(3) a {
    transform: rotate(-120deg);
  }
  .menu-item:nth-child(4) a {
    transform: rotate(-180deg);
  }
  .menu-item {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 70px;
    height: 70px;
    opacity: 0;
    transition: 0.5s;
  }
  .menu-item a {
    display: block;
    width: inherit;
    height: inherit;
    line-height: 70px;
    color: #494949;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #494949;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    pointer-events: none;
    transition: 0.2s;
    opacity: 1;
  }
  
/**************************  
  **************************  PAGE 1 INTRO
  **************************/



/**************************  
  **************************  PAGE 2 CONNEXION
  **************************/

.logo_center_mobile {
    display: flex;
    justify-content: center;
}

.logo_center_mobile img {
    width: 310px;
}

.text_center_mobile {
    max-width: 750px;
    height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 15px;
    text-align: center;
    margin: auto;
    line-height: 25px;
}

.question_mobile {
    font-size: 21px;
    margin: 0 35px;
}

.text_center_mobile p {
    margin: 35px 0;
}

.enterCode {
  font-size: 50px;
  letter-spacing: 14px;
  text-align: left;
  background: none;
  border: none;
  width: 100%;
  max-width: 265px;
  display: block;
  margin: auto;
  margin-top: 20%;
}

.container {
  position: relative;
  max-width: 265px;
  height: 1px;
  margin: auto;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, transparent 45%, #494949 45%);
  background-size: 45px;
}

.enterCode::placeholder {
  opacity: 0.2;
}

.connexion {
  height: 80%;
}

.connexion .btn {
  margin-top: 30px;
}

.errMsg {
  color: red;
  font-size: 12px;
  margin: 5px!important;
  display: none;
}

/**************************  
  **************************  PAGE 3 BUTTON_VALIDER
  **************************/

.fondu_valider {
    height: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

